<h2>Professional Details</h2>
<img [src]="imgUrl ? imgUrl : placeholderUrl" (click)="onClickImage()"/>
<div 
  [class.highlighted]="details['Name'] === 'John Doe'"
  [class.error]="details['Name'] === 'John Doe'"
  [class.success]="details['Name'] === 'John Doe'"
>
<span>Name :</span>
  <span>{{details["Name"]}}</span>
</div>
<div>
  <span>Age :</span>
  <span>{{details["Age"]}}</span>
</div>
<div>
  <span>Location :</span>
  <span>{{details["Location"]}}</span>
</div>
<div>
  <span>Experience :</span>
  <span>{{details["Experience"]}}</span>
</div>
<div>
  <span>Degree :</span>
  <span>{{details["Degree"]}}</span>
</div>